<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class="navbar-nav" >
  <li class="nav-item">
      
      </li>
  </ul>
  <ul class="navbar-nav" >
        <li class="nav-item">
        <a class="nav-link" href="\importdata">IMPORT DATA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\companydata">MANAGE COMPANY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\stockexchange">MANAGE EXCHANGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\ipo">UPDATE IPO DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\userlist">USERLIST</a>
      </li>
      
     
    </ul>
  </nav>    
  <body>
<img src="https://media.istockphoto.com/photos/admin-message-on-the-working-in-the-office-on-table-background-picture-id690470194?k=6&m=690470194&s=612x612&w=0&h=R5fkl-FV5659LojUveU6JCQFqksSkLg_L9zz4JkyDVo=

" height=405px width=1263px>
</body>

